:root {
    --background: #000000;
    --foreground: #ffffff;
    --primary: #363382;
    --accent: #ba78b7;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

* {
    user-select: none;
}

body {
    background-color: var(--background);
    color: var(--foreground);
}

button,
input {
    border: none;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

button {
    border: 1.5px solid var(--accent);
    padding: 6px;
    border-radius: 4px;
}

input {
    border-bottom: 1.5px solid var(--accent);
}

.categories {
    width: calc(100vw - 16px);
    height: calc(100vh - 16px);
    position: absolute;
    left: 0;
    top: 0;
    padding: 8px;
}

.category {
    margin-bottom: 8px;
    border-bottom: 1.5px solid var(--primary);
    width: fit-content;
}

#categories-label {
    padding: 4px;
    margin-bottom: 12px;
    border-bottom: 2px solid var(--accent);
}

.modal-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid var(--primary);
    border-radius: 4px;
    max-width: 90vw;
    max-height: 90vh;
    padding: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
